.what-we-do-full-container{
    width:100%;
    background-color:#fff;
    /* border-top:2px solid rgb(110, 110, 110);
    border-bottom:2px solid rgb(110, 110, 110); */
    margin-top:50px;
    margin-bottom:50px;
}

.what-we-do-container{
    width:80%;
    max-width:1100px;
    margin:auto;
    
}

.what-we-do-title-container{
    padding:20px;
    font-size:20px;
    border:1px solid #fff;
}
.line-break{
    height:2px;
    width:90%;
    max-width: 1200px;
    background-color: rgb(172, 172, 172);
    position: relative;
    top:25px;
    z-index: 0;
    margin:auto;
}

.what-we-do-title{
    width:260px;
    margin:auto;
    background-color:#fff;
    color:rgb(63, 63, 63);
    z-index: 2;
}
.what-we-do-title-inner{
    position: relative;
    z-index: 2;
}

.what-we-do-paragraph-container{
    padding-bottom:40px;
    text-align: justify;
}

.what-we-do-paragraph{
    color:rgb(19, 19, 19);
    padding:10px;
    font-size:19px;
    line-height: 1.5em;
    font-weight: 340;
}
@media only screen and (max-width: 800px) {
    .what-we-do-full-container{
        width:100%;
        background-color:#fff;
        /* border-top:2px solid rgb(110, 110, 110);
        border-bottom:2px solid rgb(110, 110, 110); */
        margin-top:15px;
        margin-bottom:10px;
    }
    
    .what-we-do-container{
        width:80%;
        max-width:700px;
        margin:auto;
        
    }
    
    .what-we-do-title-container{
        padding:10px;
        font-size:15px;
        border:1px solid #fff;
    }
    .line-break{
        height:2px;
        width:90%;
        max-width: 1200px;
        background-color: rgb(172, 172, 172);
        position: relative;
        top:25px;
        z-index: 0;
        margin:auto;
    }
    
    .what-we-do-title{
        width:220px;
        margin:auto;
        background-color:#fff;
        color:rgb(63, 63, 63);
        z-index: 2;
    }
    .what-we-do-title-inner{
        position: relative;
        z-index: 2;
    }
    
    .what-we-do-paragraph-container{
        padding-bottom:40px;
        text-align: justify;
    }
    
    .what-we-do-paragraph{
        color:rgb(19, 19, 19);
        padding:10px;
        font-size:14px;
        line-height: 1.5em;
        font-weight: 340;
    }
}