.section-picker-container {
    width: 100%;
    background-color:#111;
    height: 60px;
    /* justify-content: center; */
    /* border:1px solid green; */
}

.section-picker{
    position: relative;
    width: 390px;
    height:100%;
    margin:auto;
    /* border:1px solid blue; */
    display: flex;
}

.choice {
   position: relative;
   width: 130px;
   height:100%;
   /* border:1px solid red; */
   
}

.choice-name {
    font-size: 20px;
    color:#fff;
    opacity: .3;
    vertical-align: middle;
    padding-top:12px;
}

.selected-section {
    font-size: 27px;
    color:#fff;
    opacity: 1;
    padding-top:8px;
}
.choice:hover {
    cursor: pointer;
}
.choice:hover .unselected-section{
    color:#fff;
    font-size: 22px;
    opacity: .8;
}


@media only screen and (max-width: 800px) {
    .section-picker-container {
        width: 100%;
        background-color:#111;
        padding: 0px;
        padding-top:10px;
        height: 70px;
        justify-content: center;
    }
    
    .section-picker{
        width: 350px;
        margin:auto;
    }
    
    .choice {
       display: inline-block;
       width: 100px;
       height:0px;
       vertical-align: middle;
    }
    
    .choice-name {
        font-size: 16px;
        color:#fff;
        opacity: .3;
    }
    
    .selected-section {
        font-size: 24px;
        color:#fff;
        opacity: 1;
    }
    
    .choice:hover .unselected-section{
        color:#fff;
        font-size: 17px;
        opacity: .8;
    }
}    