.section-picker-container {
    width: 100%;
    background-color:#111;
    padding: 2vw;
    height: 8.6vw;
    justify-content: center;
}

.section-picker{
    width: 90vw;
    margin:auto;
}

.choice {
display: inline-block;
   width: 13vw;
}

.choice-name {
    font-size: 2vw;
    color:#fff;
    opacity: .3;
}

.selected-section {
    font-size: 3.5vw;
    color:#fff;
    opacity: 1;
}

.choice:hover .unselected-section{
    color:#fff;
    font-size: 2.4vw;
    opacity: .8;
}

