.event-container {
    position: relative;
    width: 70%;
    max-width:900px;
    height:200px;
    display: flex;
    margin-left: 15%;
    border: 2px grey solid;
    filter: grayscale(90%);
    margin-bottom: 70px;
}

.event-container:hover {
    width: 72%;
    margin-left:14%;
    filter: grayscale(5%);
    transition: all .3s ease;
}

.date-box {
    position: relative;
    width:30%;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100%;
}
.sae-night {
    background-image: url("./../../../img/events-backgrounds/sae-night-background.jpg");
}
.formula-north {
    background-image: url("./../../../img/events-backgrounds/formula-north.jpeg");
}

.date-box:hover {
    
    transition: all .5s ease;
}

.date-box h1 {
    padding-top:50px;
    font-size: 70px;
    color: #fff;
    -webkit-text-stroke: .5px rgb(255, 11, 11);
}

.info-box {
    position: relative;
    border: 2px grey solid;
    width:70%;
    padding-top:30px;
}
.info-box p {
    padding:10px;
}