
.contact-header-container{
    position: relative;
    padding:2vw;
    padding-bottom: 0vw;
    margin-bottom: 3vw;
}

.contact-header {
    font-size: 5vw;
    width: 36%;
    margin:auto;
    border-bottom: .2vw rgb(219, 22, 22) solid;
}