
.contact-header-container{
    position: relative;
    padding:20px;
    padding-bottom: 0vw;
    margin-bottom: 10px;
}

.contact-header {
    font-size: 50px;
    width: 400px;
    margin:auto;
    border-bottom: 3px rgb(219, 22, 22) solid;
}