
.position-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    background-color:#222;
}

.position-selector-option {
    float: left;
    list-style-type: none;
    font-size: 17px;
    font-weight: normal;
    padding:10px;
    margin:10px;
    margin-top:0px;
    color: rgb(161, 161, 161);
    border-bottom: 3px #222 solid;
    cursor: pointer;
}

.position-selector-option:hover {
    color: rgb(255, 255, 255);
    border-bottom:1px rgb(253, 253, 253) solid;
    transition: all .2s ease;
    cursor: pointer;
}
.selected-selector-position{
    color: rgb(255, 255, 255);
    border-bottom:1px rgb(253, 253, 253) solid;
    transition: all .2s ease;
}




@media only screen and (max-width: 950px) {
.position-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.position-selector-option {
    float: left;
    list-style-type: none;
    font-size: 10px;
    font-weight: normal;
    padding:7px;
    margin:0px 10px;
    margin-top:0px;
    color: #ddd;
    cursor: pointer;
}

.position-selector-option:hover{
    transition: all .2s ease;
}

}
@media only screen and (max-width: 450px) {

.position-selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.position-selector-option {
    float: left;
    list-style-type: none;
    font-size: 8px;
    font-weight: normal;
    padding:6px;
    margin:10px;
    margin-top:0px;
    color: #ddd;
    cursor: pointer;
}

.position-selector-option:hover {
    transition: all .2s ease;
}
}


