
.events-event{
    position: relative;
    flex:1;
    height:100%;
    padding:5px 6px;
    float: left;

    /* background-color: rgb(243, 243, 243);
    box-shadow: 5px 0 10px  rgb(182, 182, 182); */
    box-shadow: 5px 0 10px  rgb(226, 226, 226);
    margin:0 30px;}


.events-event:hover{
    background-color: #eee;
    box-shadow: 5px 0 10px  grey;
    cursor: pointer;}

.events-event-image{
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    width:100%;
    height:100%;
    z-index:-1;
}
.events-event-image-container{
    
    width:100%;
    height:26vw;
    max-height:260px;
    /* background: url('./../../../img/events-backgrounds/sae-night-background.jpg'); */
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.events-event-image-2{
    width:100%;
    height:26vw;
    max-height:250px;
    background: url('./../../../img/events-backgrounds/formula-north.jpg');
    background-size: cover;}
    .events-event-image-3{
        width:100%;
        height:26vw;
        max-height:250px;
        background: url('./../../../img/sim_pic.png');
        background-size: cover;}

.hidden-view-article-header{
    height:100%;
    padding-top: 60px;
    color: rgb(255, 255, 255);
    font-weight:bold;
    opacity:0;}

.events-event:hover .hidden-view-article-header {
    height:100%;
    padding-top: 90px;
    opacity:1;
    color: rgb(255, 255, 255);
    font-weight:bold;
    background: linear-gradient( rgba(196, 136, 136, 0.2), rgba(0, 0, 0, 0.2));}

.events-event-date {
    width:100%;
    height:20px;
padding-top:5px;}

.events-event-date-header{
    font-size: 13px;
    float:left;
    padding-left: 2px;
    color:rgb(97, 97, 97);}

.events-event-description-container {
    width:100%;
    height:70px;}

.events-event-description {
    float:left;
    padding-top: 10px;
    font-size: 18px;
    text-align: left;}