.extra-section{
    width: 90%;
    margin:auto;
}

.media-section{
    position: relative;
    width: 40%;
    padding:3vw;
    display: inline-block;
}

.upcomging-events-section {
    position: relative;
    width: 60%;
    display: inline-block;
    padding:3vw;
}
