.extra-section{
    width: 95%;
    margin:auto;
}

.media-section{
    position: relative;
    width: 45%;
    padding:3vw;
    display: inline-block;
}

.upcomging-events-section {
    position: relative;
    width: 55%;
    display: inline-block;
    padding:3vw;
}
@media only screen and (max-width: 1150px) {
    .media-section{
        width: 80%;
        max-width: 500px;
    }
    .upcomging-events-section {
        width: 80%;
        max-width: 500px;
    }
}
