.why-electric {
    position: relative;
    background-image: url("./../../../img/suspension.jpeg"); 
    background-position: center;
    background-size: cover;
    height: 1000px;
    line-height: 1.7em; 
}

.why-electric-textbox {
    position:relative;
    margin:00px 200px;
    padding-top: 50px;
    width:70%;
    top:150px;
    background-color:#bbb;
    opacity:.95; 
}

.why-electric h1{
    padding-top:0;
    color:#333; 
}

.why-electric-textbox h2 {
    padding-top:30px; 
}

.why-electric-textbox p {
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 20px;
    padding-left:20px; 
}