

.design-summary {
    padding-top:50px;
    color:#000;
    align-content: center; 
  }
  
.general-paragraph {
    padding-top:20px;
    padding-bottom:100px;
    margin-right:80%;
    margin: 20px 10%;
    font-size: 25px;
    line-height: 1.5em; 
  }