*{
    transition: .5s ease;
}

.design-explorer-container {
    width:900px;
    margin:auto;
    background-color: 333;
    border: 10px #fff solid;
    background-color: #fff;
    height:450px;
    z-index: -3;
    overflow:hidden;
    // border:1px solid blue;
}

.image-container {
    position: relative;
    width:1050px;
    margin:0 auto ;
    overflow:hidden;
    display:flex;
    height: 600px;
    transition: 2s ease;
    // border:1px solid red;
    top:-90px;
    z-index:0;
    left:-130px;
}
.image-show {
    overflow: hidden;
    flex:1.8;
    position: relative;
    transition: all 2s ease;
}

@media only screen and (max-width: 550px) {
    *{
        transition: .5s ease;
    }
    
    .design-explorer-container {
        width:100vw;
        margin:auto;
        background-color: 333;
        border: 10px #fff solid;
        background-color: #fff;
        height:70vw;
        z-index: -3;
        overflow:hidden;
        // border:1px solid blue;
    }
    
    .image-container {
        position: relative;
        width:150vw;
        margin:0 auto ;
        overflow:hidden;
        display:flex;
        height: 90vw;
        transition: 2s ease;
        // border:1px solid red;
        top:-18vw;
        z-index:0;
        left:-35vw;
    }
    .image-show {
        overflow: hidden;
        flex:1.8;
        position: relative;
        transition: all 2s ease;
    }
}


