
.design-explorer {
    width:100%;
    align-content: center;
    justify-content: center;
    background-color: white;
    border: 10px #555 solid;
}

.image-show {
    overflow: hidden;
    width:100%;
    background-color: white;
    border: 1px white solid;
    position: relative;
    transition: all 2s ease;
}