.become-sponsor-container {
    padding:2vw;
}

.become-sponsor-header {
    font-size: 3.5vw;
    padding: 1vw 0 1vw 0;
    color:#000;
    border-bottom: .3vw solid rgb(194, 2, 2);
}

.become-sponsor-paragraph {
    padding-top: 2vw;
    line-height: 1.5em;
    font-size: 1.5vw;
}

.sponsor-package{
    margin-top:2vw;
    padding:1vw;
    border-radius: 1vw;
    font-size: 2vw;
    background-color: rgb(227, 3, 3);
    color:#fff;
    font-weight: normal;
    margin:1.5vw 1.5vw 0 1.5vw;
}
.sponsor-package:hover{
    background-color: rgb(158, 1, 1);
    box-shadow: 5px 5px 5px 1px #bbb;
}
.inverted {
    padding:1vw;
    margin:2.5vw 1.5vw 0 1.5vw;
    border-radius: 1vw;
    font-size: 2vw;
    color: rgb(227, 3, 3);
    border-color: rgb(227, 3, 3);
    background-color:#fff;
    font-weight: normal;
}
.inverted:hover{
    color: rgb(255, 255, 255);
}
