.become-sponsor-container {
    padding:20px;
    width:100%;
    max-width: 1050px;
    margin:auto;
}

.become-sponsor-header {
    font-size: 35px;
    padding: 10px 10px 10px 10px;
    width: 550px;
    margin:auto;
    color:#000;
    border-bottom: 3px solid rgb(194, 2, 2);
}

.become-sponsor-paragraph {
    width:80%;
    max-width: 800px;
    margin:auto;
    padding-top: 20px;
    line-height: 1.5em;
    font-size: 15px;
}

.sponsor-package{
    margin-top:10px;
    padding:10px;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(227, 3, 3);
    color:#fff;
    font-weight: normal;
    margin:35px 15px 0 15px;
}
.sponsor-package:hover{
    background-color: rgb(158, 1, 1);
    box-shadow: 5px 5px 5px 1px #bbb;
}
.inverted {
    padding:10px;
    margin:65px 15px 0 15px;
    border-radius: 10px;
    font-size: 20px;
    color: rgb(227, 3, 3);
    border-color: rgb(227, 3, 3);
    background-color:#fff;
    font-weight: normal;
}
.inverted:hover{
    color: rgb(255, 255, 255);
}



@media only screen and (max-width: 800px) {
    .become-sponsor-container {
        width:100%;
        max-width: 400px;
        margin:auto;
    }
    
    .become-sponsor-header {
        font-size: 16px;
        width: 250px;
        max-width: 90%;
        margin:auto;
        color:#000;
        border-bottom: 3px solid rgb(194, 2, 2);

    }
    
    .become-sponsor-paragraph {
        padding-top: 20px;
        line-height: 1.5em;
        font-size: 10px;
    }
    
    .sponsor-package{
        margin-top:20px;
        padding:10px;
        border-radius: 20px;
        font-size: 10px;
        background-color: rgb(227, 3, 3);
        color:#fff;
        font-weight: normal;
        margin:15vpx 15vpx 0 15px;
    }
    .sponsor-package:hover{
        background-color: rgb(158, 1, 1);
        box-shadow: 5px 5px 5px 1px #bbb;
    }
}