* {
    align-content: center;
}

.sponsor-contanainer {
    position: relative;
    padding: 0;
    padding-bottom: 0vw;
}
@media only screen and (max-width: 800px) {
    .sponsor-contanainer {
    }
}
.explorer-header {
    width:35vw;
    margin:auto;
    margin-bottom: 3vw;
    font-size: 2.5vw;
    padding: 1vw 0 1vw 0;
    color:#222;
    border-bottom: .3vw solid rgb(194, 2, 2);
}

.platinum, .gold, .silver, .software {
    padding-bottom:0vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.platinum .sponsor,  .gold .sponsor, .silver .sponsor, .software .sponsor{
    width:10vw;
    height:10vw;
    padding:.1vw;
    margin:.4vw;
}
/* .gold .sponsor {
    width: 12vw;
    height: 12vw;
    padding:0vw;
    margin:.1vw;
}
.silver .sponsor {
    width:10vw;
    height: 10vw;
    padding: 0vw;
    margin:.1vw;
}
.software .sponsor  {
    width:15vw;
    height: 15vw;
    padding: 0vw;
    margin:.2vw;
} */
.sponsor h1 {
    opacity: 0;
}


.logo {
     object-fit: contain; 
    width:80%;
    height: 70%;
}

.sponsor {
    filter: grayscale(20%);
}

.sponsor:hover {
    transition: all .5s ease;
    filter: grayscale(0%);
    border-radius: 20px;
    padding:0;
}
.sponsor:hover h1 {
    opacity: 1;
}

h1 {
    color: #444;
}

.platinum h1, .gold h1, .silver h1, .software h1{
    font-size: 1.2vw; 
}
/* .gold h1{
    font-size: 2vw; 
}
.silver h1{
    font-size: 2vw; 
}
.software h1{
    font-size: 2vw; 
} */

.platinum-heading, .gold-heading , .silver-heading, .software-heading{
    padding-top:1.8vw;
    padding-bottom: 1vw;
    font-size: 2.3vw;
    color: #222;
}

.gold-heading span, .silver-heading span, .bronze-heading span, .software-heading span {
    padding:7px;
}

.platinum-heading span{
    border-right: .4vw #559696 solid;
    border-left: .4vw #559696 solid;
    padding: .1vw 1vw;
    border-radius: 1vw;
}
.gold-heading span{
    border-right: .4vw #dfce3d solid;
    border-left: .4vw #dfce3d solid;
    padding: .1vw 1vw;
    border-radius: 1vw;
}
.silver-heading span{
    border-right: .4vw #8a8a8a solid;
    border-left: .4vw #8a8a8a solid;
    padding: .1vw 1vw;
    border-radius: 1vw;
}
.software-heading span{
    border-right: .4vw #7b2cfa solid;
    border-left: .4vw #7b2cfa solid;
    padding: .1vw 1vw;
    border-radius: 1vw;
}

