* {
    align-content: center;
}

.sponsor-contanainer {
    position: relative;
    top:90px;
    padding:4vw;
    padding-bottom: 20vw;
}
@media only screen and (max-width: 800px) {
    .sponsor-contanainer {
        top:70px;
    }
}

.platinum, .gold, .silver, .software {
    padding-bottom:2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.platinum .sponsor {
    width:20vw;
    height:20vw;
    padding:1vw;
    margin:2vw;
}
.gold .sponsor {
    width: 15vw;
    height: 15vw;
    padding:1vw;
    margin:2vw;
}
.silver .sponsor {
    width:14vw;
    height: 14vw;
    padding: 1vw;
    margin:2vw;
}
.software .sponsor  {
    width:15vw;
    height: 15vw;
    padding: 1vw;
    margin:2vw;
}


.logo {
     object-fit: contain; 
    width:80%;
    height: 70%;
}

.sponsor {
    filter: grayscale(60%);
}

.sponsor:hover {
    transition: all .5s ease;
    filter: grayscale(0%);
    border-radius: 20px;
}

.platinum .sponsor:hover {
    border: .5vw #559696 solid;
    background-color: #daf8fd;
}
.gold .sponsor:hover {
    border: .5vw #dfce3d solid;
    background-color: #f5f0c3;
}
.silver .sponsor:hover {
    border: .5vw #8a8a8a solid;
    background-color: #e4e4e4;
}
.software .sponsor:hover {
    border: .5vw #7b2cfa solid;
    background-color: #c8d2fd;
}

h1 {
    color: #444;
}

.platinum h1{
    font-size: 2.5vw; 
}
.gold h1{
    font-size: 2vw; 
}
.silver h1{
    font-size: 1.5vw; 
}
.software h1{
    font-size: 2vw; 
}

.platinum-heading, .gold-heading , .silver-heading, .software-heading{
    padding-top:2vw;
    padding-bottom: 2vw;
    font-size: 4vw;
    color: #222;
}

.gold-heading span, .silver-heading span, .bronze-heading span, .software-heading span {
    padding:7px;
}

.platinum-heading span{
    border-bottom: 4px #559696 solid;
}
.gold-heading span{
    border-bottom: 4px #dfce3d solid;
}
.silver-heading span{
    border-bottom: 4px #8a8a8a solid;
}
.software-heading span{
    border-bottom: 4px #7b2cfa solid;
}

