* {
    align-content: center;
}

.sponsor-contanainer {
    position: relative;
    width:70%;
    margin:auto;
    padding-bottom: 0vw;
}
@media only screen and (max-width: 800px) {
    .sponsor-contanainer {
    }
}
.explorer-header {
    width:350px;
    margin:auto;
    margin-bottom: 30px;
    font-size: 40px;
    padding: 10px 0 10px 0;
    color:#222;
    border-bottom: 3px solid rgb(194, 2, 2);
}

.platinum, .gold, .silver, .software {
    padding-bottom:0vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.platinum .sponsor,  .gold .sponsor, .silver .sponsor, .software .sponsor{
    width:200px;
    height:200px;
    padding:1px;
    margin:4px;
}
.gold .sponsor {
    width: 120px;
    height: 120px;
    padding:0vw;
    margin:1px;
}
.silver .sponsor {
    width:100px;
    height: 100px;
    padding: 0vw;
    margin:1px;
}
.software .sponsor  {
    width:100px;
    height: 100px;
    padding: 0vw;
    margin:2px;
} 
 .sponsor h1 {
    opacity: 0;
    padding:auto;
} 


.logo {
     object-fit: contain; 
    width:80%;
    height: 70%;
}

.sponsor {
    filter: grayscale(20%);
    text-decoration: none;
}

.sponsor:hover {
    transition: all .5s ease;
    filter: grayscale(0%);
    border-radius: 5px;

    box-shadow: 5px 5px 5px 1px grey;
}
.platinum .sponsor h1{
    padding-top:20px;
}
.sponsor:hover h1 {
    opacity: 1;
}
.sponsor:hover .logo{
}

h1 {
    color: #444;
}

.platinum h1, .gold h1, .silver h1, .software h1{
    font-size: 12px; 
}
/* .gold h1{
    font-size: 2vw; 
}
.silver h1{
    font-size: 2vw; 
}
.software h1{
    font-size: 2vw; 
} */


.platinum-heading, .gold-heading , .silver-heading, .software-heading{
    padding-top:18px;
    padding-bottom: 10px;
    font-size: 23px;
    color: #222;
}

.gold-heading span, .silver-heading span, .bronze-heading span, .software-heading span {
    padding:7px;
}

.platinum-heading span{
    border-right: 4px #559696 solid;
    border-left: 4px #559696 solid;
    padding: 1px 10px;
    border-radius: 10px;
}
.gold-heading span{
    border-right: 4px #dfce3d solid;
    border-left: 4px #dfce3d solid;
    padding: 1px 10px;
    border-radius: 10px;
}
.silver-heading span{
    border-right: 4px #8a8a8a solid;
    border-left: 4px #8a8a8a solid;
    padding: 1px 10px;
    border-radius: 10px;
}
.software-heading span{
    border-right: 4px #b85f16 solid;
    border-left: 4px #b85f16 solid;
    padding: 1px 10px;
    border-radius: 10px;
}

