.sections {
    background-color: #222;
    /* border: 1px solid red; */
}

.member-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-top:0px;
    padding-bottom:10px;
}

.member-section-option {
    float: left;
    list-style-type: none;
    font-size: 20px;
    padding:5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top:0px;
    color: rgb(121, 121, 121);
    border-bottom: 1px #222 solid;
}
.member-section-option-collapse{
    opacity:0;
    width:0;
}

.member-section-option:hover {
    color: rgb(255, 255, 255);
    border-bottom:1px rgb(253, 253, 253) solid;
    transition: all .7s ease;
    cursor: pointer;
}

.selected {
    float: left;
    list-style-type: none;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top:0px;
    color: rgb(255, 255, 255);
    border-bottom:1px rgb(253, 253, 253) solid;
}



@media only screen and (max-width: 800px) {

.sections {
    background-color: #222
}

.member-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin:auto;
    height: 40px;
    margin-top:0px;
    padding-top:5px;
}

.member-section-option {
    float: left;
    list-style-type: none;
    font-size: 12px;
    padding:3px;
    margin-right: 9px;
    margin-left: 10px;
    margin-top:0px;
    color: rgb(192, 191, 191);
}

.member-section-option:hover {
    transition: all .7s ease;
}

.selected {
    float: left;
    list-style-type: none;
    font-size: 14px;
    padding-bottom:5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top:0px;
}
}