.why-donate-container-page{

    min-height:calc(100vh - 70px);
}

.why-donate-showcase {

    height:700px;
    position: relative;
}


.why-donate-showcase::after{
    content:"";
    background: linear-gradient( rgba(25, 25, 40, 0.55), rgba(25, 25, 40, 0.55) ),url("./../../../img/gmvisit.jpg");
    background-size: cover;
    background-position-y:75%;

    height:700px;
    /* background-position: 20%; */
    opacity: 0.88;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}


.why-donate-header{
    padding-top:260px;
    width:750px;
    margin:auto;
    color:#fff;
    font-size:70px;
    /* padding-right:350px; */
    font-weight: normal;
    font-family: 'Rajdhani', sans-serif;
}


.why-donate-paragraph{
    width:90%;
    max-width:900px;
    margin:auto;
    padding-top:70px;
    font-size:20px;
    line-height: 1.4em;
    text-align: justify;
    color:#444;
}

.donate-paypal-container{
    padding:50px;
}



@media only screen and (max-width: 800px) {

    .why-donate-container-page{

        min-height:calc(100vh - 50px);
    }
    
    .why-donate-showcase {
    
        height:300px;
        position: relative;
    }
    
    
    .why-donate-showcase::after{
        content:"";
        background: linear-gradient( rgba(25, 25, 40, 0.55), rgba(25, 25, 40, 0.55) ),url("./../../../img/gmvisit.jpg");
        background-size: cover;
        background-position-y:10%;
    
        height:300px;
        /* background-position: 20%; */
        opacity: 0.88;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
    }
    
    
    .why-donate-header{
        padding-top:115px;
        width:270px;
        margin:auto;
        color:#fff;
        font-size:25px;
        /* padding-right:350px; */
        font-weight: normal;
        font-family: 'Rajdhani', sans-serif;
    }
    
    
    .why-donate-paragraph{
        width:90%;
        max-width:900px;
        margin:auto;
        padding:40px 0;
        font-size:12px;
        line-height: 1.4em;
        text-align: justify;
        color:#444;
    }
    
    .donate-paypal-container{
        padding:10px;
    }
    

}