.upcome-event-container {
    width:100%;
    //border-left: 2px rgb(190, 190, 190) solid;
    padding: 2vw;
    height: 45vw;
}

.upcoming-event-header{
    padding: 0vw 0 .5vw 0;
    width: 25vw;
    margin: 0vw auto 2vw auto;
    font-size: 3vw;
    border-bottom: .2vw rgb(216, 32, 32) solid;
}