#wrapper {
    position: relative;
    width:100%;
    height:400px;
    /* min-height:55vw; */
    overflow:hidden;
}

.layer{
    position: absolute;
    width:100%;
    /* min-height:55vw; */
    height:400px;
    overflow: hidden;
}

.layer .content-wrap{
    position:absolute;
    width:100vw;
    /* min-height:55vw; */
    height:400px;
}

.layer .content-body {
    width:350px;
    position:absolute;
    top:30%;
    text-align: center;
    transform: translateY(-50%);
    color:#222;
}

.layer img {
    position: relative;
    width:1000px;
    top:45%;
    left:430px;
    transform: translate(-50%, -50%);
}

.top img{
    /* opacity: .7;
    background-color: rgb(33,33,33); */
}

.layer h1{
    font-size:2em;
}

.bottom {
    background :#eee;
    z-index:1;
    border-top:3px solid rgb(106, 220, 255);
    border-bottom:3px solid #eee;
}

.bottom .content-body{
    right:calc(50% - 650px);
}
.bottom h1{
    color:rgb(255, 0, 0);
    font-size:35px;
    font-weight: 330;
}
.top h1{
    color:rgb(106, 220, 255);
    font-size:35px;
}

.top {
    background: #222;
    z-index:2;

    width:50vw;
    border-bottom:3px solid rgb(106, 220, 255);
    border-top:0px solid #222;
}

.top p, .bottom p{
    color:#222;
    padding:15px;
    width:300px;
    height:10px;
    margin: auto;
    text-align: justify;
    font-size: 17px;
}
.top p{
    color:#fff;
}

.top .content-body {
    right:calc(50% + 250px);
    color:rgb(15, 139, 255);
}

.handle{
    position: absolute;
    height: 100%;
    display:block;
    background-color:rgb(106, 220, 255);
    width:3px;
    top:0;
    left:50%;
    z-index: 3;
}

.skewed .handle {
    top:50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    transform-origin: top;
}


.skewed .top{
    transform: skew(-30deg);
    margin-left:-1000px;
    width:calc(50% + 1000px);
}

.skewed .top .content-wrap {
    transform: skew(30deg);
    margin-left: 1000px;
}

@media only screen and (max-width: 800px) {
    #wrapper {
        position: relative;
        width:100%;
        height:200px;
        /* min-height:55vw; */
        overflow:hidden;
        background-color: #222;
    }
    
    .layer{
        position: absolute;
        width:100%;
        /* min-height:55vw; */
        height:200px;
        overflow: hidden;
    }
    
    .layer .content-wrap{
        position:absolute;
        width:100vw;
        /* min-height:55vw; */
        height:200px;
    }
    
    .layer .content-body {
        width:350px;
        position:absolute;
        top:40%;
        text-align: center;
        transform: translateY(-50%);
        color:#222;
    }
    
    .layer img {
        position: relative;
        width:300px;
        top:40%;
        left:127px;
        transform: translate(-50%, -50%);
    }
    
    .top img{
        /* opacity: .7;
        background-color: rgb(33,33,33); */
    }
    
    .layer h1{
        font-size:2em;
    }
    
    .bottom {
        background :#fff;
        z-index:1;
        border-top:3px solid rgb(106, 220, 255);
        border-bottom:3px solid #fff;
    }
    
    .bottom .content-body{
        right:calc(50% - 310px);
        top:80px;
    }
    .bottom h1{
        color:rgb(255, 0, 0);
        font-size:15px;
        font-weight: 330;
    }
    .top h1{
        color:rgb(106, 220, 255);
        font-size:15px;
    }
    
    .top {
        background: #222;
        z-index:2;
    
        border-bottom:3px solid rgb(106, 220, 255);
        border-top:3px solid #222;
    }
    
    .top p, .bottom p{
        color:#222;
        padding:15px;
        width:120px;
        height:10px;
        margin: auto;
        text-align: left;
        font-size: 8px;
    }
    .top p{
        color:#fff;
    }
    
    .top .content-body {
        right:calc(50% - 50px);
        color:rgb(15, 139, 255);
    }
    
    .handle{
        position: absolute;
        height: 100%;
        display:block;
        background-color:rgb(106, 220, 255);
        width:3px;
        top:0;
        left:50%;
        z-index: 3;
    }
    
    .skewed .handle {
        top:50%;
        transform: rotate(30deg) translateY(-50%);
        height: 200%;
        transform-origin: top;
    }
    
    
    .skewed .top{
        transform: skew(-30deg);
        margin-left:-1000px;
        width:calc(50% + 1000px);
    }
    
    .skewed .top .content-wrap {
        transform: skew(30deg);
        margin-left: 1000px;
    }
}