.team-title-container {
    width: 100%;
    height: calc(8vw + 9vw);
    background-color: #111;
    padding-top: calc(1.5vw + 90px);
}
@media only screen and (max-width: 800px) {
    .team-title-container {
        padding-top: 70px;
    }
}

.title-heading {
    color:  rgb(228, 51, 51);;
    margin:auto;
    padding-top: .8vw;
    font-size: 5vw;
}

.title-span {
    color: #fff;
}