.showcase-container {
    position: relative;
    height: 650px;
    background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.6) ), url("./../../../../img/home-1.jpeg");
    background-position-y: 0px;
    background-size: cover;
    background-position: 20%;
    
}
.showcase {
  width:100%;
  height:100%;
}

.team-logo-container{
  height: 150px;
}
.team-logo {
  position: relative;
  bottom:30px;
  height:150%;
  padding:auto auto 80px auto;
}
.draw-line {
  height:2px;
  width:800px;
  background-color:#ccc;
  margin:auto;
}
.team-name {
  padding: 23px 0;
  font-size: 80px;
  color: #fff;
}

.typewriter-container {
  display: flex;
  margin-top: 150px;
  justify-content: center
}
.solid-text {
  padding-right:25px;
  color: rgb(218, 218, 218);
  font-size: 50px;
  font-weight:normal;
}

.typewrite {
  color: rgb(247, 28, 28);
  text-decoration: none;
  font-size: 50px;
  font-weight:bold;
}


