.contact-container {
    width:100%;
    max-width:1300px;
    margin:auto;
    min-height: calc(100vh - 210px);
    height:820px;

}

@media only screen and (max-width: 1250px) {
    .contact-container {
        width:100%;
        margin:auto;
        height:1200px;
        padding:0px;
        justify-content: center;
        overflow: hidden;
    }
}