.width-restricter{
width:100%;
max-width:1500px;
margin:auto;
}

.events-container{
    width:80%;
    height: 400px;
    margin:auto;
    margin-bottom: 30px;
    margin-top: 40px;
    display: inline-block;
}

.events-title-container{
    height: 70px;
    width:100%;
}
.line-break-events{
    height:2px;
    width:100%;
    max-width: 1200px;
    background-color: rgb(240, 119, 119);
    position: relative;
    top:25px;
    z-index: -1;
    margin:auto;
}
.events-title{
    padding: 0px 10px 0vw 10px;
    font-size:35px;
    width:170px;
    margin: auto;
    color: rgb(189, 2, 2);
    background: #fff;
    z-index: 1;
}

.events-events{
    padding-top:10px;
    width:100%;
    height:370px;
}

.events-events a{
    text-decoration: none;
    color:#222;
}

.events-event{
    width:33%;
    height:100%;
    padding:5px 6px;
    float: left;
    /* background-color: rgb(243, 243, 243);
    box-shadow: 5px 0 10px  rgb(182, 182, 182); */
    margin-right:20px;
}
.events-event:hover{
    background-color: #eee;
    box-shadow: 5px 0 10px  grey;
    cursor: pointer;
}



.events-event-image-1{
    width:100%;
    height:250px;
    background: url('./../../../../img/events-backgrounds/sae-night-background.jpg');
    background-size: cover;
}
.events-event-image-2{
    width:100%;
    height:250px;
    background: url('./../../../../img/events-backgrounds/formula-north.jpeg');
    background-size: cover;
}


.hidden-view-article-header{
    height:100%;
    padding-top: 60px;
    color: rgb(255, 255, 255);
    font-weight:bold;
    opacity:0;
}
.events-event:hover .hidden-view-article-header {

    height:100%;
    padding-top: 90px;
    opacity:1;
    color: rgb(255, 255, 255);
    font-weight:bold;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.events-event-date {
    width:100%;
    height:20px;
}

.events-event-date-header{
    font-size: 13px;
    float:left;
    padding-left: 2px;
    color:rgb(97, 97, 97);
}

.events-event-description-container {
    width:100%;
    height:70px;
}

.events-event-description {
    float:left;
    padding-top: 10px;
    font-size: 20px;
    text-align: left;
}

@media only screen and (max-width: 800px) {
    .events-container{
        width:90%;
        height: calc(30vw + 180px);
        margin:auto;
        margin-bottom: 0px;
        margin-top: 00px;
        display: inline-block;
    }
    
    .events-title-container{
        height: 30px;
        width:100%;
    }
    .events-title{
        float:left;
        padding: 8px 0px 0vw 5px;
        font-size:15px;
        color: rgb(189, 2, 2);
        border-bottom: 1px solid red;
    }
    
    .events-events{
        width:100%;
        height:calc(100px + 30vw);
    }
    
    .events-event{
        width:50%;
        height:100%;
        padding:5px 6px;
        float: left;
        margin-right:0px;
    }

    
    .events-event-image-1{
        width:100%;
        height:30vw;
        background: url('./../../../../img/events-backgrounds/sae-night-background.jpg');
        background-size: cover;
    }
    .events-event-image-2{
        width:100%;
        height:30vw;
        background: url('./../../../../img/events-backgrounds/formula-north.jpeg');
        background-size: cover;
    }
    
    
    .hidden-view-article-header{
        height:100%;
        padding-top: 30px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight:bold;
        opacity:0;
    }
    .events-event:hover .hidden-view-article-header {
        height:100%;
        padding-top: 30px;
        opacity:1;
        color: rgb(255, 255, 255);
        font-weight:bold;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }
    
    .events-event-date {
        width:100%;
        height:20px;
    }
    
    .events-event-date-header{
        font-size: 8px;
        float:left;
        padding-left: 10px;
        padding-top:3px;
        color:rgb(97, 97, 97);
    }
    
    .events-event-description-container {
        width:100%;
        height:60px;
    }
    
    .events-event-description {
        float:left;
        padding-top: 10px;
        font-size: 14px;
        text-align: left;
    }
}