.header-container {
    text-align: center;
}
.header  {
    display: flex;
    align-items: stretch;
    position: fixed;
    background-color: #fff;
    color: #000;
    /*opacity: .99;*/
    width: 100%;
    /* max-width:1200px; */
    height: 90px;
    z-index: 1; 
}

.logo {
    flex: 3;
    height: 100%; 
    padding-left:5%;
}

.spacer {
    flex-grow: 2;
    height: 100%; 
}

.logo-image {
    height: 100%;
    padding-left: 0%; 
    float: left;
}

.logo-text {
    display: inline-block;
    float: left;
    padding-top: 32px;
    padding-left:10px;
    /* position:absolute; */
    font-size: 25px;
    color:#444; 
    text-decoration: none;
}

.nav-bar {
    flex: 3;
    display: flex;
    list-style-type: none;
    margin: 30px 10px;
    padding: 10px; 
}

.nav-bar-item {
    flex: 1;
    float: right;
    margin-right: 2%; 
}

li a, .dropdown-button {
    width:100px;
    color: #000;
    padding: 15px 25px;
    border: 1px #fff solid;
    border-radius: 30px;
    text-decoration: none; 
}

li a:hover, .dropdown:hover .dropbtn, dropdown-content:hover {
    background-color: #Fefefe;
    color: #9A1414;
    transition: all .5s ease;
    border: 1px #aaa solid; 
}

li a:active {
    background-color: rgb(250, 227, 227);
    color: rgb(172, 9, 9);
    transition: all .1s ease;
    padding: 20px 25px;
}

li.dropdown {
    display: inline-block; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top:15px; 
}

.dropdown-content a {
    color: black;
    background-color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 1px; 
}

.dropdown-content a:hover {
    background-color: #f1f1f1; 
}

.dropdown:hover .dropdown-content {
    display: block; 
}

@media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }