.sponsor-showcase {
    height:700px;
    position: relative;
    overflow: hidden;
    margin-bottom:100px;
}


.sponsor-showcase::after{
    content:"";
    background: linear-gradient( rgba(15, 15, 30, 0.75), rgba(15, 15, 30, 0.75) ),url("./../../img/sponsor-background.jpg");
    background-size: cover;
    background-position-y:40%;

    height:700px;
    /* background-position: 20%; */
    opacity: 0.92;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

.sponsor-header{
    padding-top:150px;
    width:890px;
    margin:auto;
    color:#fff;
    line-height: 1.7em;
    font-size:80px;
    /* padding-right:350px; */
    font-weight: normal;
    font-family: 'Rajdhani', sans-serif;
}

.sponsor-showcase-para{
    width:600px;
    margin:auto;
    color:#fff;
    font-size:25px;
    padding-bottom: 50px;
}

.sponsorshowcase-button{
    margin-top:20px;
    padding:15px 20px;
    font-size: 25px;
    margin:35px 20px;
    background:none;
    color:#fff;
    background: rgba(0,0,10,.25);
    text-decoration: none;
    border:1px solid #fff;
}


.sponsorshowcase-button:hover {
    background: rgba(8, 44, 85, 0.45);
    cursor: pointer;
    box-shadow: 3px 3px 5px #333;
}

/* .package-button{
    background: rgba(253, 100, 100, 0.13);
} */

.package-button:hover{
    background: rgba(255, 76, 76, 0.26);
}

@media only screen and (max-width: 800px) {
    
    .sponsor-showcase {
        height:300px;
        position: relative;
        margin-bottom:30px;
    }
    
    
    .sponsor-showcase::after{
        content:"";
        background-size: cover;
        background-position-y:10%;
    
        height:300px;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
    }

    .sponsor-header{
        padding-top:55px;
        width:300px;
        margin:auto;
        color:#fff;
        font-size:25px;
        /* padding-right:350px; */
        font-weight: normal;
        font-family: 'Rajdhani', sans-serif;
    }

    .sponsor-showcase-para{
        width:90%;
        margin:auto;
        color:#fff;
        font-size:12px;
        padding-bottom: 30px;
    }
    
    .sponsorshowcase-button{
        margin-top:10px;
        padding:9px 14px;
        font-size: 12px;
        margin:15px 10px;
        background:none;
        color:#fff;
        background: rgba(0,0,10,.25);
        text-decoration: none;
        border:1px solid #fff;
    }
    
    .package-button:hover{
        background: rgba(255, 76, 76, 0.287);
    }
    
}