.width-restricter-team{
    background-color: #eee;
    width:100%;

    min-height:800px;
}

.members-container {
    width:100%;
    max-width:1050px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 40px 10px 40px;
    background-color: #eee;
}

.member-container {
    
    width: 33%;
    padding:20px;
    height: 370px;
    display: flex;
}

.member-container:hover {
    box-shadow: 3px 3px 5px #555;
}

.member-container:hover .headshot{
    filter: grayscale(0%);
    transition: all .2s ease;
}

.headshot {
    object-fit: cover;
    
    height:70%;
    width:80%;
    border-radius: 50%;
    filter: grayscale(40%);
}

.name {
    padding:1px 0;
    margin: 10px auto 0 auto;
    font-size: 30px;
    color: #000;
}

.title {
    padding-bottom:5px;
    font-size: 20px;
    color: #555;
}

.links-list li{
    list-style-type: none;
    display: inline;
    padding: 15px;
    font-size: 25px;
    opacity:0;

}
.links-list a {
    color: #666;
}
.links-list .linkedin a:hover {
    color: rgb(27, 103, 226);
}
.links-list .github a:hover {
    color: rgb(168, 48, 223);
}
.links-list .twitter a:hover {
    color: rgb(48, 173, 223);
}
.member-container:hover .links-list li {
    opacity: 1;
}



@media only screen and (max-width: 800px) {
    .width-restricter-team{
        background-color: #eee;
        width:100%;
    }
    
    .members-container {
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        padding: 1px 4px 1px 4px;
        background-color: #eee;
    }
    
    .member-container {
        
        width: 50%;
        padding:20px;
        height: 370px;
        display: flex;
    }
    
    .member-container:hover .headshot{
        filter: grayscale(0%);
        transition: all .2s ease;
    }
    
    .headshot {
        object-fit: cover;
        
        height:70%;
        width:80%;
        border-radius: 50%;
        filter: grayscale(70%);
    }
    
    .name {
        padding:1px 0;
        margin: 10px auto 0 auto;
        font-size: 30px;
        color: #000;
    }
    
    .title {
        padding-bottom:5px;
        font-size: 20px;
        color: #555;
    }
    
    .links-list li{
        list-style-type: none;
        display: inline;
        padding: 15px;
        font-size: 25px;
        opacity:0;
    
    }
    .links-list a {
        color: #666;
    }
    .links-list .linkedin a:hover {
        color: rgb(27, 103, 226);
    }
    .links-list .github a:hover {
        color: rgb(168, 48, 223);
    }
    .links-list .twitter a:hover {
        color: rgb(48, 173, 223);
    }
    .member-container:hover .links-list li {
        opacity: 1;
    }
    

}