
.form-full{
    min-width:50%;
    height:850px;
    display: inline-block;
    /* border: 2px solid green; */
    /* background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.6) ),url('./../../../../img/hatch-center.jpg');

    background-repeat: no-repeat;
    background-size:fill; */

}

.form-container {
    position: relative;
    height: 600px;
    width:700px;
    margin: 10px auto 10vw auto;
    /* background-color: #bbb; */
    opacity: 0.9;
    /* border: 2px solid red; */
}

.name-header, .email-header, .message-header {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom:20px;
    /* border: 2px solid blue; */
    text-align:left;
    display:block;
    width:100%;
    margin-left:20px;
} 
.icon-1 {
    margin:auto 5px;
    display:inline-block;
    width:22px;
    height:22px;
    position: relative;
    bottom:-1px;
    /* border:2px solid red; */
    background: url('./../../../../img/email-fields/24b50e869f.svg');
    background-size:contain;
}
.icon-2 {
    margin:auto 5px;
    display:inline-block;
    width:25px;
    height:25px;
    position: relative;
    bottom:-1px;
    /* border:2px solid red; */
    background: url('./../../../../img/email-icon.png');
    background-size:contain;
    
}
.icon-3 {
    margin:auto 5px;
    display:inline-block;
    width:25px;
    height:25px;
    position: relative;
    bottom:-5px;
    /* border:2px solid red; */
    background: url('./../../../../img/email-fields/message-174-141494.png');
    background-size:contain;
}

.__first_name-input {
    padding:17px;
    border-radius:15px;
    border: 1px solid #bbb;
    color: #000;
    outline: 0;
    font-size: 1.1em;
    min-width: 200px;
    /* border-radius:4px; */
    background-size: 16px 16px;
    padding-left: 5px;
    width:650px;
    /* border: 2px solid red; */
    float:left;
    padding-left:10px;
    margin-left:20px;
    margin-top:80px;
}
.__last_name-input {
    padding:17px;
    border-radius:15px;
    border: 1px solid #bbb;
    color: #000;
    outline: 0;
    font-size: 1.1em;
    min-width: 200px;
    /* border-radius:4px; */
    background-size: 16px 16px;
    padding-left: 5px;
    width:650px;
    /* border: 2px solid red; */
    float:left;
    padding-left:10px;
    margin-left:20px;
    margin-top:40px;
}
.__email-input {
    padding:15px;
    border-radius:17px;
    border: 1px solid #bbb;
    color: #000;
    outline: 0;
    font-size: 1.1em;
    width:650px;
    min-width: 200px;
    /* border-radius:4px; */
    background-size: 16px 16px;
    padding-left:10px;
    margin-left:20px;
    float:left;
    margin-top:40px;
    /* border: 2px solid red; */
}
.__message-input {
    border-radius:20px;
    border: 1px solid #bbb;
    color: #000;
    outline: 0;
    font-size: 1.1em;
    min-width: 250px;
    /* border-radius:4px; */
    background-size: 16px 16px;
    padding-left:15px;
    margin-left:20px;
    float:left;
    /* border: 2px solid red; */
    width:650px;
    height:150px;
    padding-top:15px;
    max-width:650px;
    min-width:650px;
    max-height:300px;
    margin-top:40px;
}

.submit-button {
width:650px;
height:50px;
float:left;
font-size: 25px;
margin-left:20px;
margin-top:30px;
border-radius: 16px;
color:rgb(255, 255, 255);
background-color:rgb(250, 36, 36);
font-weight: normal;
}
.submit-button:hover {
    background-color:rgb(66, 0, 0);
    color:rgb(255, 45, 45);
    border-color: rgb(153, 153, 153);
    box-shadow: 5px 5px 8px #999;
}