.event-container {
    position: relative;
    width: 70%;
    height:20vw;
    display: flex;
    margin:auto;
    border: 2px grey solid;
    filter: grayscale(90%);
    margin-bottom: 7vw;
}

.event-container:hover {
    margin-left:14%;
    filter: grayscale(5%);
    transition: all .3s ease;
}

.date-box {
    flex:1;
    position: relative;
    text-align: center;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
}
.sae-night {
    background-image: url("./../../../../img/events-backgrounds/sae-night-background.jpg");
}
.formula-north {
    background-image: url("./../../../../img/events-backgrounds/formula-north.jpeg");
}

.date-box:hover {
    transition: all .5s ease;
}

.date-box h1 {
    padding-top:5vw;
    font-size: 7vw;
    color: #fff;
    -webkit-text-stroke: .5px rgb(255, 11, 11);
}

.info-box {
    flex:2;
    position: relative;
    border: 1px grey solid;
    padding-top:30px;
}
.info-box p {
    padding:1vw;
    font-size: 1.5vw;
}