.sections {
    background-color: #111;
}

.member-section-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
    margin-top:0px;
    padding-bottom:16px;
}

.member-section-only-option {
    float: left;
    list-style-type: none;
    font-size: 27px;
    padding:10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top:0px;
    color: rgb(192, 191, 191);
    border-bottom: 3px #111 solid;
}

.member-section-option:hover {
    color: rgb(255, 45, 45);
    border-bottom:3px rgb(192, 73, 73) solid;
    transition: all .7s ease;
}

.selected-only {
    float: left;
    list-style-type: none;
    font-size: 27px;
    padding:10px;
    margin-right: 20px;
    margin-left: 200px;
    margin-top:0px;
    color: rgb(255, 45, 45);
    border-bottom:3px rgb(192, 73, 73) solid;
}

.apply-button {
    font-size: 15px;
    padding:8px 15px;
    margin-left: 60px;
    border-radius: 15px;
    border: 1px solid rgb(90, 90, 90);

    background-color: rgb(206, 20, 20);
    color:rgb(231, 231, 231);
    font-weight: normal;
}

.apply-button:hover{
    background-color: rgb(255, 30, 30);
    color:rgb(226, 226, 226);
    border: 1px solid rgb(83, 83, 83);
    box-shadow: 5px 5px 5px #333;
}