.overview2018-container{
height: calc(100vh  - 280px);
}


.overview2018-showcase{
    width:100%;
    max-width:1000px;
    height:30vw;
    max-height: 500px;
    margin:auto;
    position: relative;
    background-size: cover;
    background-position-y: 59%;
    background-repeat: no-repeat;}