.sponsor-container {
    position:relative;
    padding:0 00px;
    padding-bottom: 15px;
    height: 100%;
    padding-top: 20px;
    margin:auto;
}
.explorer{
    width: 100%;
    display: inline-block;
    overflow: hidden;
}
