.sponsor-container {
    width:100%;
    position:relative;
    padding:0 3vw;
    padding-bottom: 0vw;
    height: 100%;
}
.explorer{
    width: 65%;
    display: inline-block;
    overflow: hidden;
}
.become-sponsor {
    width:35%;
    float:right;
    display: inline-block;
    overflow: hidden;
    float: right;
}