.sponsor-container {
    width:100%;
    position:relative;
    padding:0 3vw;
    padding-bottom: 3vw;
    height: 100%;
    padding-top:calc(2vw + 90px);
}
@media only screen and (max-width: 800px) {
    .sponsor-container{
        padding-top: calc(2vw +70px);
    }
}
.explorer{
    width: 90%;
    display: inline-block;
    overflow: hidden;
}
.become-sponsor {
    width:60%;
    margin:auto;
    display: block;
    overflow: hidden;
}