.design-summary {
    padding-top:5vw;
    color:#000;
    align-content: center; 
  }
  
  .general-header {
    font-size: 5vw;
  }

.general-paragraph {
    padding-top:4vw;
    padding-bottom:3vw;
    width: 80%;
    margin:auto;
    font-size: 3vw;
    line-height: 1.5em; 
  }