.news-container{
    width:80%;
    height: 400px;
    margin:auto;
    margin-bottom: 70px;
    margin-top: 60px;
    display: inline-block;
}

.news-title-container{
    height: 50px;
    width:100%;
}
.news-title{
    float:left;
    padding: 8px 20px 0vw 10px;
    font-size:30px;
    color: rgb(189, 2, 2);

    border-bottom: 1px solid red;
}

.news-events{
    width:100%;
    height:350px;
}

.news-event{
    width:33%;
    height:100%;
    padding:5px 6px;
    float: left;
}
.news-event:hover{
    background-color: #eee;
    box-shadow: 5px 0 10px  grey;
}



.news-event-image-1{
    width:100%;
    height:250px;
    background: url('./../../../../img/events-backgrounds/inhouse-solutions.png');
    background-size: cover;
}
.news-event-image-2{
    width:100%;
    height:250px;
    background: url('./../../../../img/events-backgrounds/bcm-event.png');
    background-size: cover;
}
.news-event-image-3{
    width:100%;
    height:250px;
    background: url('./../../../../img/events-backgrounds/macleans.png');
    background-size: cover;
}


.hidden-view-article-header{
    height:100%;
    padding-top: 60px;
    color: rgb(255, 255, 255);
    font-weight:bold;
    opacity:0;
}
.news-event:hover .hidden-view-article-header {

    height:100%;
    padding-top: 90px;
    opacity:1;
    color: rgb(255, 255, 255);
    font-weight:bold;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.news-event-date {
    width:100%;
    height:20px;
}

.news-event-date-header{
    font-size: 13px;
    float:left;
    padding-left: 10px;
    color:rgb(97, 97, 97);
}

.news-event-description-container {
    width:100%;
    height:70px;
}

.news-event-description {
    float:left;
    padding-top: 10px;
    font-size: 20px;
    text-align: left;
}
