.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.headerStyle  {
  display: flex;
  position: fixed;
  backgroundColor: #fff;
  color: #000;
  /*opacity: .99;*/
  width: 100%;
  height: 100px;
}

.listStyle {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.listItemStyle {
  float: left;
  margin-right: 15px;
}

a {
  padding: 10px 15px;
  border: 1px red solid;
  border-radius: 30px;
}

a:hover {
  padding: 10px 15px;
  border: 1px blue solid;
  border-radius: 30px;
}