.width-restricter-team{
    background-color: #eee;
    width:100%;
    min-height:800px;
}

.members-container {
    width:100%;
    max-width:1010px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    height:auto;
    padding: 50px 40px 10px 40px;
    background-color: #eee;
    align-items: center;
    justify-content: center;
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: .5s;
}

.member-container {
    width: 300px;
    padding:20px;
    margin:5px;
    height: 360px;
    display: flex;
}

.member-container:hover {
    box-shadow: 3px 3px 5px #555;
    cursor: pointer;
}

.member-container:hover .headshot{
    filter: grayscale(0%);
    transition: all .2s ease;
}

.headshot {
    object-fit: cover;
    
    height:65%;
    width:75%;
    border-radius: 50%;
    filter: grayscale(40%);
    // -webkit-animation-name: fade-in;
    // -webkit-animation-duration: 2s;
    // animation: slideIn 0.6s cubic-bezier(0.54, 0.46, 0.54, 0.94) 2s forwards;
    // animation: fadeIn 0s ease-in 0s forwards;}
}

    @keyframes fade-in {
      from {opacity: 0;}
      to {opacity: 1;}
    }


.name {
    padding:1px 0;
    margin: 10px auto 0 auto;
    font-size: 30px;
    color: #000;
}

.title {
    padding-top:5px;
    font-size: 20px;
    color: #555;
}

.links-list li{
    list-style-type: none;
    display: inline;
    padding: 15px;
    font-size: 25px;
    opacity:0;

}
.links-list a {
    color: #666;
}
.links-list .linkedin a:hover {
    color: rgb(27, 103, 226);
}
.links-list .github a:hover {
    color: rgb(168, 48, 223);
}
.links-list .twitter a:hover {
    color: rgb(48, 173, 223);
}
.member-container:hover .links-list li {
    opacity: 1;
}



@media only screen and (max-width: 800px) {
    .width-restricter-team{
        background-color: #eee;
        width:100%;
        min-height: 0;
    }
    
    .members-container {
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 4px 1px 4px;
        width:100%;
        min-height: calc(100vh - 200px);
        max-width: 400px;;
        background-color: #eee;
        height:auto;
        box-shadow: none;
    }
    
    .member-container {
        
        width: 50%;
        padding:20px;
        height: 220px;
        display: flex;
        margin:0;
    }
    .member-container:hover {
        box-shadow: none;}
    
    .member-container:hover .headshot{
        filter: grayscale(0%);
        transition: all .2s ease;
    }
    
    .headshot {
        object-fit: cover;
        
        height:70%;
        width:90%;
        border-radius: 50%;
        filter: grayscale(70%);
    }
    
    .name {
        padding:1px 0;
        margin: 10px auto 0 auto;
        font-size: 14px;
        color: #000;
    }
    
    .title {
        padding-bottom:5px;
        font-size: 10px;
        color: #555;
    }
    
    .links-list li{
        list-style-type: none;
        display: inline;
        padding: 15px;
        font-size: 15px;
        opacity:0;
    
    }
    .links-list a {
        color: #666;
    }
    .links-list .linkedin a:hover {
        color: rgb(27, 103, 226);
    }
    .links-list .github a:hover {
        color: rgb(168, 48, 223);
    }
    .links-list .twitter a:hover {
        color: rgb(48, 173, 223);
    }
    .member-container:hover .links-list li {
        opacity: 0;
    }
    

}