.why-donate-container-page{
    /* min-height:calc(100vh - 70px); */
}

.why-donate-showcase {
    height:700px;
    position: relative;
}


.why-donate-showcase::after{
    content:"";
    background: linear-gradient( rgba(39, 52, 110, 0.65), rgba(8, 29, 20, 0.65) );
    /* background: linear-gradient( rgba(25, 25, 40, 0.55), rgba(25, 25, 40, 0.55) ),url("./../../img/team-photo.jpg"); */
    background-size: cover;
    background-position-y:75%;

    height:700px;
    /* background-position: 20%; */
    opacity: 0.88;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}


.status-container{
    width:1000px;
    height:150px;
    margin:auto;
}

    .goal-header{
        float:right;
        position:relative;
        top:-30px;
        font-size:22px;
        font-weight:bold;
        color:#fff;
    }

    .status-bar-container{
        width:100%;
        height:50px;
        margin:60px auto 10px auto;
        background-color:rgba(255, 255, 255, 0.555);
        border-radius: 10px;
        /* overflow: hidden; */
    }

    .status-bar{
        width: 200px;
        height:100%;
        background-color:rgba(65, 255, 113, 0.704);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        float:left;
    }
        .status-value{
            position:relative;
            top:-30px;
            font-size:19px;
            opacity:0;
            color:rgba(65, 255, 113, 0.904);
            font-weight:bold;
            /* padding-top:16px; */
        }

    .status-bar:hover{
        background-color:rgba(65, 255, 113, 1);
    }
    .status-bar:hover .status-value{
        opacity:1;
        font-size:21px;
    }

    .contribution{
        height:100%;
        background-color: rgba(251, 255, 45, 0.403);   
        float:left;
        /* overflow: hidden; */
    }
    .Title{
          
        width:200px;   
    }
    .Platinum{  
        width:150px;   
    }
    .Gold{  
        width:100px;   
    }
    .Silver{     
        width:80px;   
    }
    .Bronze{     
        width:50px;   
    }

    .contribution-value{
        position:relative;
        top:-30px;
        font-size:19px;
        opacity:0;
        color:rgba(220, 255, 65, 0.904);
        font-weight:bold;
        /* padding-top:16px; */
    }
    .contribution:hover .contribution-value{
        opacity:1;
        font-size:21px;
    }

    .last-updated-header{
        color:#fff;
        font-size:15px;
        float:left;
    }


.donate-button-container{
    position:relative;
    top:0px;
    left: 70px;
}

.hide-donate-info{
    opacity:0;
}

.donate-now-button{
    position: relative;
    left:-150px;
    top:-10px;
    font-size:30px;
    padding:15px 30px;
    background: rgba(0,0,20,0.4);
    color:rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    margin-top:10px;
    cursor:pointer;}

.donate-now-button:hover{
    background: rgb(70, 70, 150, 0.45);
}


.why-donate-header{
    padding-top:170px;
    height:270px;
    width:1000px;
    margin:auto;
    color:#fff;
    font-size:70px;
    /* padding-right:350px; */
    font-weight: normal;
    font-family: 'Rajdhani', sans-serif;
}


.why-donate-paragraph{
    width:90%;
    max-width:900px;
    margin:auto;
    padding-top:90px;
    padding-bottom:90px;
    font-size:20px;
    line-height: 1.4em;
    text-align: justify;
    color:#444;
}

.donate-paypal-container{
    padding:50px;
}

.sponsor-tier-info-container{
    /* border: 1px solid #fff; */
    margin-top:90px;
    height:auto;
    min-height: 600px;
}

    .sponsor-tier-name{
        /* border:1px solid red; */
        /* border-right:2px solid #000; */
        width:370px;
        margin: 0px 300px;
        font-weight:normal;
        font-size:34px;
    }

    .sponsor-tier-range{
        /* border: 1px solid blue; */
        position:relative;
        top:-40px;
        width:100px;
        margin-left: 770px;
        font-weight:normal;
    }

    .sponsor-tier-benefits-header{
        /* border:1px solid blue; */
        width:200px;
        height:100px;
        margin:30px 0 0 357px;
        color:#666;
    }


    .sponsor-tier-benefits-list{
        position:relative;
        top:-100px;
        /* border:1px solid red; */
        width:400px;
        margin-left:620px;
        list-style:none;
    }
    .sponsor-tier-benefits-item{
        font-size:25px;
        padding:8px 0;
        text-align: left;
        text-decoration: none;
    }


@media only screen and (max-width: 800px) {

    .why-donate-container-page{

        min-height:calc(100vh - 50px);
    }
    
    .why-donate-showcase {
    
        height:300px;
        position: relative;
    }
    
    
    .why-donate-showcase::after{
        content:"";
        background: linear-gradient( rgba(25, 25, 40, 0.55), rgba(25, 25, 40, 0.55) ),url("./../../img/team-photo.jpg");
        background-size: cover;
        background-position-y:10%;
    
        height:300px;
        /* background-position: 20%; */
        opacity: 0.88;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;  
    }
    
    
    .why-donate-header{
        padding-top:115px;
        width:270px;
        margin:auto;
        color:#fff;
        font-size:25px;
        /* padding-right:350px; */
        font-weight: normal;
        font-family: 'Rajdhani', sans-serif;
    }
    
    
    .why-donate-paragraph{
        width:90%;
        max-width:900px;
        margin:auto;
        padding:40px 0;
        font-size:12px;
        line-height: 1.4em;
        text-align: justify;
        color:#444;
    }
    
    .donate-paypal-container{
        padding:10px;
    }
    

}