.media-container{
    width:100%;
    border: 2px rgb(190, 190, 190) solid;
    padding: 2vw;
}
.media-header {
    padding: 0vw 0 .5vw 0;
    width: 14vw;
    margin: 0vw auto 2vw auto;
    font-size: 3vw;
    border-bottom: .2vw rgb(255, 222, 38) solid;
}

.insta-container {
    margin: auto;
}