
.design-explorer {
    width:100%;
    align-content: center;
    justify-content: center;
    background-color: 333;
    border: 10px #333 solid;
}
.image-container {
    position: relative;
    width:100%;
    overflow:hidden
}
.image-show {
    overflow: hidden;
    object-fit: cover;
    width:100%;
    background-color: white;
    border: 1px white solid;
    position: relative;
    transition: all 2s ease;
    position: relative;
    
}